   <div class="container">
        
    <span class="errmsg" [hidden]="!errMsg" [(ngModel)]="errtype" ngDefaultControl> {{errtype}}</span>
      
            <form [formGroup]="registerForm">
                <h3>Register</h3>
                <p>Please fill in this form to create an account.</p>
        <div class="col-sm-12 col-md-4">
            <label for="idNumber"><b>Id number</b></label>
            <input formControlName="id"  class="form-control" type="text" placeholder="Enter Id number" name="idNumber" >

            <label for="email"><b>Email</b></label>
            <input formControlName="email" type="email"  class="form-control" id="email" placeholder="Enter Email"  >

            <label for="psw"><b>Password</b></label>
            <input formControlName="password" type="password"  id="psw" class="form-control" placeholder="Enter Password" >
            

            <label for="pswrepeat"><b>Confirm Password</b></label>
            <input formControlName="pswrepeat" type="password"  class="form-control" placeholder="Repeat Password" id="pswrepeat" >
            
            <button  class="form-control registerbtn advance" (click)="check()" >Advance</button>

          
                  
                  <p>Already have an account? <a routerLink="/login">Sign in</a></p>
   
        </div>
        <div class="col-sm-12 col-md-1"></div>
        
        <div class="col-sm-12 col-md-4" *ngIf="isSectionFull">
            <h3 *ngIf="isSectionFull">Please compleat the registration</h3>
           
        <label for="city"><b>City</b></label>
        <input formControlName="city" class="form-control" type="text" placeholder="Enter City" id="city" >

        <label for="street"><b>Street</b></label>
        <input formControlName="street" class="form-control" type="text" placeholder="Enter street " id="street" >
    
        <label for="username"><b>First name</b></label>
        <input formControlName="username" class="form-control" type="text" placeholder="Enter username"id="username">
    
        <label for="lastName"><b>Last name</b></label>
        <input formControlName="lastName" class="form-control" type="text" placeholder="Enter last name" id="lastName" >
               
        <button type="button" class="registerbtn register" (click)="register()">Register</button>
       </div>

    </form>
    
  </div>
  
  
  
    