<div class="jumbotron">
    <div class="container text-center">
      <h1><img width="50" alt="Angular Logo" src={{logo}}/>Online Store</h1>      
    </div>
</div>
<button type="button" (click)="logof()" class="logoff btn btn-default btn-sm">
    <span class="glyphicon glyphicon-log-out"></span> Log out
  </button>
  
  
