.navbar {
    margin-bottom: 50px;
    border-radius: 0;
  }
  
  /* Remove the jumbotron's default bottom margin */ 
   .jumbotron {
    margin-bottom: 0;
    height: 150px;
  }
  .headLogo{
    height: 200px;
    width: 200px;
  }
  .logoff{
    float: right;
  }