
.allproducts{
    border: 5px solid rgb(202, 212, 212);
    background-color: azure;
    border-radius: 5px;
    
 
    
}
.picitem{
    width: 40px;
    margin-left: 20%;
    margin-top: 5px;
   
    
}
.product{

border: 1px solid brown;
border-radius: 5px;
margin: 5px;
opacity: 0.8;
height: 170px;
text-align: center;
width: 150px;

align-items: center;


}
.product:hover{
    background-color: rgb(213, 226, 226);  
   opacity: 1;

}



.addtocart{
    margin-left: 5px;
    border-radius: 5px;
    background-color: rgb(117, 146, 207)
}
.categoryDiv{
    width: 100%;
    margin-bottom: 20px;

}
.divsearch{
    height: 60px;
    width: 40%;
background-color: rgb(231, 231, 231);
}
.divsearch input{
    float: right;
    margin-right: 10px;
}
.divsearch span{
    font-size: 18px;
    margin-left: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

