     
    
                <div class="container-fluid">


    <div class="cart col-sm-12 col-md-4 col-lg-4 ">
        <app-cart-section [idEdit]="sendId" [userCart]="sendUser"></app-cart-section>
       
     </div>

     <!-- {{currentUser}} -->

     <span class="usermsg" >wellcom :</span><span class="usermsg">{{currentUser}}</span> 




      <div class="allproducts col-sm-6 col-md-6 col-lg-6">
            <div class="categoryDiv ">
                    <nav class="navbar navbar-default">
                              <div class="navbar-header">
                                <strong><span>Select Category :</span></strong>
                              </div><br> 
                      <ul class="nav navbar-nav">
                          <li *ngFor="let cat of categories">
                                <button mat-stroked-button color="primary" [(ngModel)]="termCategory" (click)="fillterCategory($event)"  ngDefaultControl>{{cat.nameCategory}}</button>
                          </li>
                          <button mat-raised-button color="warn" (click)="resetSearch()">Reset</button>

                      </ul>
                             

                          </nav>

                          <div class="divsearch " >
                             <!-- <span>Search for product</span><input type="text" (focus)="resetSearch()" [(ngModel)]="term"> -->

                             <span>Search for product    </span><input matInput type="text" placeholder="Search product"  (focus)="resetSearch()" [(ngModel)]="term">

                           </div>
              
            </div> <br>
            <div class="product col-sm-5  col-md-3"  *ngFor="let item of dat  | filter:term |filterCategory:termCategory  ">

                    <!-- (click)="display($event)" -->
            <!-- <span [routerLink]="['/product']">Detail</span> -->
            <button mat-mini-fab color="primary"  (click)="openDialog(item.picProduct,item.productName,item.price)">Detail</button>
              <img class="picitem" src="/assets/{{item.picProduct}}">
              <h5 class="itemPname">{{item.productName}}</h5>
              <h5 class="itemPname">{{item.price | currency:'ILS':'symbol':'1.2-2'}}</h5>

                <app-select (amountToCart)="passAmount($event)"></app-select>
              
                <button class="addtocart itemPname" (click)="addButton(item)">add to cart</button>
                
            </div>
            
      </div>









      <div class="cartside col-sm-2 col-md-2 col-lg-2 ">
          <!-- <app-product-detail></app-product-detail> -->
        <marquee direction="up" scrollamount= "10" height="400px" scrollamount="7" >
          
        <div class="product" >
            <img class="picitem" src="/assets/{{randomPic.picProduct}}">
            <h4 class="itemPname">{{randomPic.productName}}</h4>
            <h4 class="itemPname">{{randomPic.price | currency:'שח'}}</h4>
             
           
        </div>
           

        </marquee>
     </div>
    </div>











