
<body>
    <div class="container-fluid ">
        <div class="alldata">
            <h2 class="name">{{name}}</h2>
            <img class="img-responsive" src="/assets/{{pic}}">
        
            <h5 class="itemPname">{{price | currency:'ILS':'symbol':'1.2-2'}}</h5>
        
      
        </div>
     
      
      </div>
      <br>
      
      <button mat-raised-button [mat-dialog-close]="true">Close</button>

</body>

