
.allproducts{
    border: 5px solid rgb(202, 212, 212);
    background-color: azure;
    border-radius: 5px;
    
 
    
}
.picitem{
    width: 40px;
    margin-left: 20%;
    margin-top: 5px;
   
    
}
.product{

border: 1px solid brown;
border-radius: 5px;
margin: 5px;
opacity: 0.8;
height: 150px;
text-align: center;
width: 160px;

align-items: center;


}
.product:hover{
    background-color: rgb(213, 226, 226);  
   opacity: 1;

}
.picitem:hover{
    width: 300px;
    height: 300px;
    position: relative;
    z-index: 14;
     
}
.picitem:hover ~ h4  {
    display: none;
}

.picitem:hover ~ .itemPname{
    display: none;
}


.addtocart{
    margin-left: 5px;
    border-radius: 5px;
    background-color: rgb(117, 146, 207)
}
.cat{
    background-color: #f8f8f8;
    border: none;
    border-left: 1px solid  rgb(211, 204, 204);
    font-size: 20px;
}
.allBtn {
    float: right;
    cursor: pointer;
    background-color: rgb(208, 218, 221);
    border-radius:1px;
    margin-top: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 4px 4px 4px #aaa;
}
.addproductBtn{
    float: right;
    margin-top: 1px;
    background-color: rgb(208, 218, 221);
    border-radius:2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}




