
<div class="container-fluid">
     
    <div class="editView col-sm-6 col-md-4 col-lg-4">
      
        <button class="addproductBtn" (click)="tuggelAddBtn()"><a routerLink="/add"></a>Add Product</button>
        <app-edited-item [idEdit]="sendId" (messageEvent)="receive($event)" *ngIf="tuggelEdit"></app-edited-item>
        <app-add-item  *ngIf="tuggelAdd"></app-add-item>
     </div>
     
  
     <div class="allproducts col-sm-12 col-md-8 col-lg-8">
        <div class="categoryDiv">
            <nav class="navbar navbar-default">
                    <div class="container-fluid">
                      <div class="navbar-header">
                        <strong><span>Select Category :</span></strong><br> 
                      </div> 
                       <ul class="nav navbar-nav">
                         <li *ngFor="let cat of categories"><button  class="cat" [(ngModel)]="termCategory" (click)="fillterCategory($event)"  ngDefaultControl>{{cat.nameCategory}}</button></li>
                      </ul>
                     
                    </div>
                  </nav>
                 <button (click)="resetSearch()">reset</button> 
                  <div class="divsearch">
                     <span>Search for product</span><input type="text" (focus)="resetSearch()" [(ngModel)]="term">
                  </div>
      

    </div> 
                                                                        <!--  | filter:term |filterCategory:termCategory  -->
                <div class="product col-sm-4 col-md-4 col-lg-4" *ngFor="let item of dat | filter:term |filterCategory:termCategory" >
                <img class="picitem" src="/assets/{{item.picProduct}}">
                <h4 class="itemPname">{{item.productName}}</h4>
                <h4 class="itemPname">{{item.price | currency:'ILS':'symbol':'1.2-2'}}</h4>
                
                <button class="EditProduct itemPname"(click)="editme(item)">Edit Product</button>
                
                  
            </div>
     </div>
 
</div>

