.products{
  float: left;
  height: 500px;
  overflow: scroll;
}
.userdata{
   
    float: right;
   
}
table{
    margin-top: 70px;
    z-index: 0;
   
}
.Shippingdetail{
    margin-top: 20px;
}

.orderheader{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}
.listtitle{
   
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
  z-index: 1000;
  position: fixed;
  background-color: rgb(245, 242, 241);
}


.tomato{
    background-color: tomato;
}
.divider{
    width: 50%;
}
.submitbtn{
    margin-right: 20px;
}
.errmsg{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}
.msgerr{
   height: 70px;
   background-color: aliceblue;
   width: 250px;
}


