 <div class="container">


  <div class="col-sm-12 col-md-4 col-lg-4 products "> 
    <div class="listtitle">
        <h1 > Products in the Cart</h1>
        <h3 class="sumOrder" [(ngModel)]="sumOfOrder" ngDefaultControl> Total:   {{sumOfOrder}}<small><span>שח</span></small></h3>
        <mat-divider class="tomato"></mat-divider>

    </div>
    
       <table class="table-responsive table-bordered table-condensed">
          <thead>
              <tr>
                <th>product</th>
                <th >Product name</th>
                <th >Quantity</th>
                <th  >Price</th>
                
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cart">
                  <td><img class="picitem" src="/assets/{{item.cartItemPic}}" width="40" height="40"></td>
                   <td> {{item.productName}}</td>
                   <td>{{item.amount}}</td>
                   <td>{{item.totalPrice}}</td>
                </tr>
          </tbody>
      </table> 
    
  
     
  </div>
  
  <div class="col-sm-12 col-md-8 col-lg-8 userdata">
    
    <h1 class="orderheader">Shipping details</h1>
    <mat-divider class="tomato"></mat-divider>
    <div class="Shippingdetail" (click)="getUserData()">
        <form [formGroup]="order"> 
            <mat-form-field>
              <input matInput placeholder="City" formControlName="city" >
            </mat-form-field><br>
            <mat-divider class="divider"></mat-divider>
          
            <mat-form-field>
                <input matInput placeholder="street" formControlName="street" >
            </mat-form-field><br>
            <mat-divider class="divider"></mat-divider>
          
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="shipping Date" formControlName="date" >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field><br>
              <mat-divider class="divider"></mat-divider>

              <mat-form-field>
                  <input type="number" matInput placeholder="Payments-Enter Credit card" formControlName="credit" >
                 
              </mat-form-field><br>
              <mat-divider class="divider"></mat-divider>
              </form>
    </div>
    <div class="msgerr">
        <h3 class="errmsg" *ngIf="errMsg" >Please check your form</h3>
    </div>
    
    <mat-checkbox class="example-margin" [(ngModel)]="checked">Download invoice </mat-checkbox>
    <mat-divider class="divider"></mat-divider>
    <button mat-flat-button class="submitbtn" (click)="submitOrder()" >Submit Order</button>
    <button mat-flat-button color="primary"  [mat-dialog-close]="true">Back</button>
    <div>
        
        
    </div>
    
   
  </div>
</div>



