<div class="allinputs container-fluid">
         
    

 <form [formGroup]="addItem">  
    <div class="PnameSection">
        <mat-form-field class="full-width">
            <input matInput placeholder="Enter product name" formControlName="Pname" >
        </mat-form-field>
       
    </div> 
    
    <mat-divider></mat-divider>
    <div class="CategorySection">
         <mat-form-field class="full-width">
            <input matInput placeholder="Add Product Category"  formControlName="Pcategory" >
          </mat-form-field>
    </div>

    <mat-divider></mat-divider>

    <div class="PriceSection">
        <mat-form-field class="full-width">
            <input matInput placeholder="Add Price" formControlName="Price" >
        </mat-form-field>
    </div>


    <mat-divider></mat-divider><br>
    
    <mat-divider></mat-divider>
   
        <input type="file" ng2FileSelect [uploader]="uploader" formControlName="picPruduct" class="inputfile" />                                  
                              
                <br>
 </form>               
     <button type="button" class="btn btn-success btn-s"
                (click)="addProduct()">
            <span class="glyphicon glyphicon-upload"></span> Upload </button><br>
</div>