body{
    background-color: rgb(219, 219, 194)
}

.CategorySection, .PnameSection,.PriceSection,.btn-block{
    margin-top: 30px;
    margin: 15px auto;
}
.allinputs{
   
    height: 600px;
    width: 80%;
    margin-top: 25%;
    align-self: center;
    background-color: rgb(247, 247, 251);
    border: 1px solid rgb(188, 164, 226);
    border-radius: 2px;
}
input{
 font-size: 25px;
 
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.inputfile{
    margin-top: 30px;
    width: 74%;
}