body{
    background-color: rgb(165, 165, 112)
}

.CategorySection, .PnameSection,.PriceSection{
    margin-top: 50px;
    margin: 50px auto;
}
.allinputs{
   
    height: 440px;
    width: 80%;
    margin-top: 25%;
    align-self: center;
    background-color: rgb(240, 183, 183);
    border: 1px solid rgb(188, 164, 226);
    border-radius: 2px;
}
input{
 font-size: 25px;
 border: 1px solid rgb(119, 106, 141);
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 



}