<!-- <p>
  {{idEdit.productName}}
</p> -->

<div class="allinputs container-fluid">
         
    <div class="PnameSection">
        <label for="Pname"> Edit Product Name</label>
        <input type="text"  id="Pname" value="{{idEdit.productName}}" [(ngModel)]="idEdit.productName" >
       
    </div>

    <div class="CategorySection">
        <label for="Pcategory">Edit Product Category</label>
        <input type="text"  id="Pcategory" value="{{idEdit.categoryId}}" [(ngModel)]="idEdit.categoryId">
        
        
    </div>

    <div class="PriceSection">
        <label for="Pprice">Edit Price</label>
        <input type="text"  id="Pprice" value="{{idEdit.price}}" [(ngModel)]="idEdit.price"><small><span>ש'ח</span></small>
    </div>
    <button type="button" class="btn btn-primary btn-block" (click)="update()">Update</button>

</div>



  
    

       

        
       
        
   
    


            
   

  
