	<div class="container-fluid">
			<div class="userdisplyname col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="usermsgdiv">
				  <span class="usermsg" >wellcom :</span><span class="usermsg">{{userdata.name}}</span>
				</div>
			</div>
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<h1>Login to Your Account</h1><br>
			<h4 class="userMsgAfterLog" [(ngModel)]="MsgAfterLog" ngDefaultControl>{{MsgAfterLog}}</h4>
			
			<mat-divider></mat-divider>
			<form [formGroup]="loginForm">
				<mat-form-field class="example-full-width"> <input formControlName="username" matInput placeholder="User name" type="text"></mat-form-field><br>
				<mat-form-field class="example-full-width"> <input formControlName="password" matInput placeholder="Password" type="password"></mat-form-field>

				
				<button mat-raised-button (click)="login()"  class="login loginmodal-submit">Login</button>
				
				<button mat-raised-button (click)="continue()"    [disabled]="buttonStatus" [ngClass]="currentClass">Continue shopping</button>
                
				
			</form>
	
				<div class="login-help">
				   <span>Don't Have an Account?       </span><a routerLink="/register">Register</a> 
	   		    </div>
	</div>	
	<div class="about col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<h1>About the shop</h1><br>
			<article>
				The Best Way to shop on line<br>
				
				Coming soon..

				
			</article>
	
	</div>	
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<h1>Information</h1><br>


	<marquee direction="up" height="300px">
		
		<h4> Currently we have,</h4>
		<h4 [(ngModel)]="numProducts" ngDefaultControl><span style="color:red">{{numProducts}} </span>  products.</h4>
		<h4 style="margin-top: 20px;"> For the present,</h4>
		<h4 [(ngModel)]="numOrders" ngDefaultControl> we have <span style="color:red;">{{numOrders}}</span> Orders .</h4>

	</marquee>

		
	
	</div>	
	
	</div>


