.HeadTitle{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 4px 4px 4px #aaa;
    border-bottom: 1px solid cornflowerblue;
    
}
.picitem{
    height: 40px;
    width: 40px;

}
