<!-- <p>
  cart-section works!
  {{userCart}}
</p> -->
<div class="container-fluid">
  <div class="col-sm-12 col-ms-12 col-lg-12">
      
      <h2 class="HeadTitle" >My Cart</h2>
      <button id="remove" class="btn btn-warning" (click)="!confirmEmptyCart ? applyDel($event):cancelDeleteAll()">Remove All Products</button><button  class="btn btn-danger glyphicon glyphicon-remove" *ngIf="confirmEmptyCart" (click)="removeAll(userCart)"> Clear All</button>
        
        <div class="table-responsive">


            <table class="table">
                <thead>
                    <tr>
                      <th scope="col">product</th>
                      <th scope="col">Product name</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Price</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of cart">
                        <td><img class="picitem" src="/assets/{{item.cartItemPic}}"></td>
                         <td> {{item.productName}}</td>
                         <td>{{item.amount}}</td>
                         <td>{{item.totalPrice}}</td>
                         <td><button class="glyphicon glyphicon-remove" (click)="removeitem(item._id)"> Order</button></td>
                      </tr>
                </tbody>
            </table>
           
            
            
          </div>
          <button mat-raised-button   matTooltip="Continue to Order" (click)="openDialog()" color="primary" *ngIf="cart && cart.length">Order</button>

  </div>
  







</div>
